/* montserrat-regular - latin_cyrillic */

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url('../fonts/montserrat-v14-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/montserrat-v14-latin_cyrillic-regular.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* montserrat-700 - latin_cyrillic */

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'), url('../fonts/montserrat-v14-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/montserrat-v14-latin_cyrillic-700.woff') format('woff');
    /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
    --font-first: "Montserrat", sans-serif;
    --color-first: rgb(51, 51, 51);
    --color-second: rgb(255, 107, 8);
    --color-fourth: rgb(250, 245, 245);
}

@keyframes anim_shadow {
    0% {
        box-shadow: 0px 0px 20px 0px rgba(237, 253, 4, 0.75);
    }
    50% {
        box-shadow: 0px 0px 0px 0px rgba(237, 253, 4, 0.75);
    }
    100% {
        box-shadow: 0px 0px 20px 0px rgba(237, 253, 4, 0.75);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

body {
    font-family: var(--font-first);
    padding: 30px;
    background-color: rgb(74, 77, 77);
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main_container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
    animation-name: anim_shadow;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.main_aside {
    background-color: #1e2939;
    padding: 20px;
}

.photo-img {
    width: 370px;
}

.photo-overlay {
    position: relative;
    display: flex;
    justify-content: center;
}

.photo-overlay::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to right, rgba(252, 227, 138, 0.9), rgba(243, 129, 129, 0.3));
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.2s linear;
}

.photo-overlay:hover.photo-overlay::after {
    opacity: 1;
}

.social {
    display: flex;
    position: absolute;
    justify-content: space-between;
    width: 200px;
    bottom: 20px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.2s linear;
}

.photo-overlay:hover .social {
    opacity: 1;
}

.social__item-icon {
    width: 50px;
    height: 50px;
    fill: #ff6b08;
    background-color: rgba(255, 255, 255, .5);
    transition: fill, background-color .4s linear;
    border-radius: 50%;
}

.social__item-icon:hover {
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
}

.main_inform {
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 110px;
    padding-bottom: 110px;
}

.aside_item {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 58px;
    color: white;
}

.contacts_item {
    margin-bottom: 25px;
}

.aside_title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 16px;
}

.contacts_item {
    display: flex;
}

.contacts_icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    fill: white;
    transition: fill .3s linear;
}

.contacts_item:hover .contacts_icon {
    fill: #ff6b08;
}

.contacts_link {
    color: white;
    transition: color .3s linear;
}

.contacts_item:hover .contacts_link {
    color: #ff6b08;
}

.aside_item p {
    margin-bottom: 10px;
}

.contacts_description {
    display: flex;
}

.decoration_text {
    text-decoration: underline;
}

.aside_item h3 {
    font-weight: bold;
}

.skills+.skills {
    margin-top: 30px;
}

.skills ul {
    color: #ff6b08;
    padding-left: 20px;
}

.skills li {
    margin-bottom: 10px;
}

.skills_name {
    color: white;
    margin: 0;
}


/***main_inform***/
.about-me__description-title {
    margin-bottom: 10px;
}

.br-setting {
    display: block;
    font-weight: 700;
}

.br-setting+.br-setting {
    margin-top: 5px;
}

.main_inform {
    background-color: #fff;
}

.abbout_me {}

.text-decoration-bold {
    color: var(--color-second);
    font-weight: 700;
}

.abbout_me h2 {
    font-size: 28px;
    font-weight: 700;
    color: var(--color-second);
}

.abbout_me h1 {
    font-size: 40px;
    margin-bottom: 30px;
}

.abbout_me p {
    line-height: 24px;
    margin-bottom: 64px;
}


/*********/

.project {
    margin-bottom: 54px;
    display: none;
}

.project h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 16px;
}

.project_list {
    padding-left: 15px;
}

.project_list li {
    margin-bottom: 14px;
    font-weight: 700;
}

.project_list a {
    text-decoration: none;
    color: #595959;
}

.light {
    font-weight: 400;
}

.light_points {
    font-weight: 100;
    color: #bebebe;
}


/******/

.experience {
    display: none;
}

.experience h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 22px;
}

.experience_item {}

.experience_item h4 {
    font-size: 16px;
    margin-bottom: 18px;
}

.experience_item ul {
    color: #595959;
}

.color_grey {
    color: #a8a8a8;
    font-size: 12px;
}

.color_orange {
    color: #ff6b08;
}

.experience_list {
    padding-left: 16px;
    margin-top: 18px;
    margin-bottom: 26px;
}

.education {
    margin-top: 58px;
}

.education h3 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 24px;
}

.education h4 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 18px;
}

.education h5 {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 18px;
}